@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
//font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
//font-family: 'Lexend Deca', sans-serif;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}